.main-body {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.login-main .login-bottom .center .item input {
  display: inline-block;
  width: 227px;
  height: 22px;
  padding: 0;
  position: absolute;
  border: 0;
  outline: 0;
  font-size: 14px;
  letter-spacing: 0;
}

.login-main .login-bottom .center .item .icon-1 {
  background: url(../../images/icon-login.png) no-repeat 1px 0;
}

.login-main .login-bottom .center .item .icon-2 {
  background: url(../../images/icon-login.png) no-repeat -54px 0;
}

.login-main .login-bottom .center .item .icon-3 {
  background: url(../../images/icon-login.png) no-repeat -106px 0;
}

.login-main .login-bottom .center .item .icon-4 {
  background: url(../../images/icon-login.png) no-repeat 0 -43px;
  position: absolute;
  right: -10px;
  cursor: pointer;
}

.login-main .login-bottom .center .item .icon-5 {
  background: url(../../images/icon-login.png) no-repeat -55px -43px;
}

.login-main .login-bottom .center .item .icon-6 {
  background: url(../../images/icon-login.png) no-repeat 0 -93px;
  position: absolute;
  right: -10px;
  margin-top: 8px;
  cursor: pointer;
}
.login-main .login-bottom .tip .icon-nocheck {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: solid 1px #9abcda;
  position: relative;
  top: 2px;
  margin: 1px 8px 1px 1px;
  cursor: pointer;
}

.login-main .login-bottom .tip .icon-check {
  margin: 0 7px 0 0;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../../images/icon-login.png) no-repeat -111px -48px;
}

.login-main .login-bottom .center .item .icon {
  display: inline-block;
  width: 33px;
  height: 22px;
}

.login-main .login-bottom .center .item {
  width: 288px;
  height: 35px;
  border-bottom: 1px solid #dae1e6;
  margin-bottom: 35px;
}

.login-main {
  width: 428px;
  position: relative;
  float: left;
}

.login-main .login-top {
  height: 117px;
  /* background-color: rgb(37, 79, 115, 0.7); */
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  border-bottom: 2px solid #1d8b98;
  font-family: SourceHanSansCN-Regular;
  font-size: 30px;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #fff;
  line-height: 117px;
  text-align: center;
  overflow: hidden;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.login-main .login-top .bg1 {
  display: inline-block;
  width: 74px;
  height: 74px;
  background: #fff;
  opacity: 0.1;
  border-radius: 0 74px 0 0;
  position: absolute;
  left: 0;
  top: 43px;
}

.login-main .login-top .bg2 {
  display: inline-block;
  width: 94px;
  height: 94px;
  background: #fff;
  opacity: 0.1;
  border-radius: 50%;
  position: absolute;
  right: -16px;
  top: -16px;
}

.login-main .login-bottom {
  width: 428px;
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding-bottom: 35px;
}

.login-main .login-bottom .center {
  width: 288px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 15px;
  position: relative;
}

body {
  /* background: url(../../images/background2.jpg) 0% 0% / cover no-repeat; */
  /* margin: auto;
  position: static;
  font-size: 12px; */
  background-color: #e5f0f2;
  font-size: 12px
}

input::-webkit-input-placeholder {
  color: #a6aebf;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6aebf;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6aebf;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a6aebf;
}

input:-webkit-autofill {
  /* 取消Chrome记住密码的背景颜色 */
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

html {
  height: 100%;
}

.login-main .login-bottom .tip {
  display: flex;
  clear: both;
  height: 16px;
  line-height: 16px;
  width: 288px;
  margin: 0 auto;
  margin-top: -20px;
}

.login-main .login-bottom .tip .tip1,
.tip2 {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #9abcda;
  cursor: pointer;
}

.layui-form-checkbox[lay-skin="primary"] span {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #19627d;
  cursor: pointer;
}

.layui-form-checkbox[lay-skin="primary"] i {
  right: auto;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  line-height: 16px;
  border: 1px solid #9abcda;
  font-size: 12px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.layui-form-checked[lay-skin="primary"] i {
  border-color: #9abcda !important;
  background-color: #9abcda;
  color: #fff;
}

.login-main .login-bottom .tip2 {
  margin-left: 20px;
}

.login-main .login-bottom .tip .forget-password {
  font-stretch: normal;
  letter-spacing: 0;
  color: #19627d;
  text-decoration: none;
  position: absolute;
  top: 295px;
  right: 70px;
  font-size: 14px;
}
.forget-password {
  font-stretch: normal;
  letter-spacing: 0;
  color: #19627d;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 45%;
  /* display: block; */
}
.login-main .login-bottom .login-btn {
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #19627d;
  border-radius: 16px;
  margin: 0px auto 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  cursor: pointer;
  border: none;
  /* padding-left: 12px; */
}
.layui-form-item {
  margin-top: -10px !important;
}
.layui-form-item .layui-icon-loading {
  display: none;
  position: absolute;
  left: 100px;
}

.login-main .login-bottom .center .item .validateImg {
  position: absolute;
  right: 1px;
  cursor: pointer;
  height: 36px;
  border: 1px solid #e6e6e6;
}

#register {
  display: none;
}
#register .login-main .login-bottom .center .item input {
  display: inline-block;
  width: 227px;
  height: 22px;
  margin-top: 3px;
  padding: 0;
  position: absolute;
  border: 0;
  outline: 0;
  font-size: 14px;
  letter-spacing: 0;
}
#register .login-main .login-bottom .center .item {
  width: 288px;
  height: 35px;
  border-bottom: 1px solid #dae1e6;
  margin-bottom: 35px;
}

#register .login-main .layui-form-label {
  font-size: 16px;
  text-align: right;
  color: #a6aebf;
  padding: 0;
  margin-left: -30px;
  line-height: 30px;
}

#register .login-main .login-bottom .registered-btn {
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #19627d;
  border-radius: 16px;
  margin: 0px auto 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  cursor: pointer;
  border: none;
}

#register .login .forget-login {
  font-stretch: normal;
  letter-spacing: 0;
  color: #19627d;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 45%;
}
#register .login-main .login-bottom .center .item {
  width: 250px;
  height: 35px;
  margin-left: 50px;
  border-bottom: 1px solid #dae1e6;
  margin-bottom: 20px;
}
#register .login-main .login-bottom .center {
  width: 288px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
}
.footer a {
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  padding-bottom: 10px;
  text-shadow: #000 0.1em 0.1em 0.1em;
  font-size: 14px;
}

.padding-5 {
  padding: 5px !important;
}

@media screen and (max-width: 428px) {
  .login-main {
    width: 360px !important;
  }

  .login-main .login-top {
    width: 360px !important;
  }

  .login-main .login-bottom {
    width: 360px !important;
  }
}

img {
  width: 100%;
  height: 100%;
}