@charset "utf-8";
/*========================文档中心首页=======================*/

.docindex div.firstdiv{
	margin:0px 5px;
}
.docindex div.notfirstdiv{
	margin:0px 5px;
	height:280px;
	border-top: 1px solid #e9e9e9;
}
.docindex .item{
	position:relative;
	margin:23px 0px;
	padding:15px 43px;
	width:210px;
	width: 204px;
	height:185px;
	border-left:1px solid #e9e9e9;
}
 .docindex .firstdiv .item{
	margin-top:13px;
}
.docindex .leftitem{
	border-left:none;
}
.docindex .item dt a{
	margin-bottom:13px;
	display: block;
	padding-left:80px;
	height:60px;
	line-height:60px;
	font-size: 16px;
	font-weight:bold;
	color:#343434;
}
.docindex .item dd .tips li .item_item_title a:hover,.docindex .item dd .tips_left_right .title:hover,.docindex .item dt a:hover{
	color:#2e65ab;
}
.docindex #kfzxz  dd .tips_left_right{
	margin-right:10px;
	_margin-right:0px;
}
.docindex .item dd {
	position:relative;
	overflow:hidden;
	height:160px;
	width:220px;
	_width:auto;
	font-size: 12px;
}
.docindex .item dd .descript{
	color:#4d4d4d;
	line-height: 24px;
	word-break:break-all;
}
.docindex .item dd .tips{
	margin-top:8px;
}
.docindex #lxwm dd .tips{
	/*margin-top:0px;*/
}
.docindex .item dd .tips li.orderli{
	display: inline-block;
	*width:95px;
}
.docindex .item dd .tips li{
	width:100px;
	line-height:24px;
	line-height:30px \9;
}
.docindex .item dd .tips li.item_item{
	width:100%;
	line-height:24px;
}
.docindex .item dd .tips li.orderli a span{
	position:relative;
	top:3px;
	margin-right:10px;
	color:#d5d5d5;
	font-weight: bold;
	font-size: 24px;
	font-style:oblique;
}
.docindex .item dd .tips li.orderli a{
	font-size: 12px;
	line-height: 28px;
	_line-height: 30px;
}
.docindex .item dd .tips li a{
	display: inline-block;
	overflow:hidden;
	padding-right: 5px;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-style:normal;
	font-weight:normal;
	font-size: 12px;
	color:#4785c9;
}
.docindex .item dd .tips li a:hover{
	color:#3fb3fc;
}
.docindex .item dd .tips_left_right{
	margin-left:15px;
	_margin-left:10px;
}
.docindex .item dd .tips_left_right .title{
	color:#343434;
	font-size: 14px;
}
.docindex .item dd .morelinkbtn{
	position:absolute;
	bottom:25px;
	display: block;
	width:218px;
	height:37px;
	background-color: #23709f;
	line-height:37px;
	text-align:center;
	font-size:18px;
	color:#ffffff;
}
.docindex .item dd .morelinkbtn:hover{
	background-color: #48a0e5;
}
.item_item a{
	font-size: 12px;
}
.docindex .item dd .tips_left_right .tips{
	position: relative;
	left:0px;
}
.docindex .item dd .tips_left_right .tips li{
	width:auto;
}
.docindex .item dd .tips {
	position: relative;
	left:10px;
}
.docindex .item dd .tips li .item_item_title{
	width:65px;
}
.docindex .item dd .tips li .item_item_item{
	width:155px;
	_width:135px;
}
.docindex .item dd .tips li .item_item_title a{
	display: block;
	color:#343434;
}
.docindex .item dd .tips li .item_item_item a{
	display:inline-block;
	min-width:70px;
	color:#4785c9;
}
/*========================文档中心首页结束===================*/
/*========================文档中心内容页======================*/
/*========================outer_top==========================*/
.outer_top{
	height:147px;
	background: url('../images/top_bg2.jpg') left top repeat-x ;
}
.outer_top .title{
	margin:auto;
	height:100%;
	width:1000px;
	background:#ffffff url('../images/top_center_bg.jpg') center top no-repeat ;
}
.outer_top .title h1{
	position:relative;
	top:66px;
	width: 225px;
	height: 83px;
	background: url('../images/doc_bg.png') center center no-repeat ;
	text-indent: 21px;
}
.outer_top .title h1 .span{
	display: block;
	font-size: 20px;
	display: block;
	color: #ffffff;
}
.outer_top .title h1 .eng{
	padding-top: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
	text-indent: -100000px;
}
.outer_top .search{
	padding-top:7px;
	position:relative;
	top:30px;
	height:29px;
	width:390px;
	background: url('../images/search_bg.gif') right center no-repeat ;
}


.outer_top .search .type{
	position:relative;
	width:80px;
	height:26px;
}
.outer_top .search .type input{
	padding-left:5px;
	position: absolute;
	top:-1px;
	height:26px;
	width:50px;
	border:none;
	background:none;
	line-height: 26px;
	text-align: center;
	cursor:pointer;
	font-size:12px;
	color:#565656;
}
.outer_top .search .type .selectbtn{
	position: absolute;
	left:55px;
	height:26px;
	width:20px;
	border:none;
	background: none;
	cursor:pointer;
}
.outer_top .search .type ul{
	position: absolute;
	top:30px;
	left:3px;
	width:80px;
	background-color:#ffffff;
	border:1px solid #cfcfcf;
	text-align: center;
}
.outer_top .search .type ul li{
	border:1px solid #ffffff;
}
.outer_top .search .type ul a{
	display: block;
	padding:5px;
	background-color:#ffffff;
	line-height:20px;
	font-size:12px;
	color:#565656;
}
.outer_top .search .type ul a:hover{
	background-color: #cfcfcf;
}
.outer_top .search .type ul a.selected{
	background-color: red;
}
.outer_top .search .search_input{
	padding:0px 5px;
	width:240px;
	height:24px;
	background:none;
	border:none;
	line-height:24px;
	font-size: 12px;
}
.outer_top .search .default{
	color:#c1c1c1;
}
.outer_top .search input.submit{
	width:48px;
	height:26px;
	background: none;
	border:none;
	cursor:pointer;
}
/*====================outer_top end==========================*/
/*====================outer_inner============================*/
.outer_inner{
	padding-bottom:10px;
	margin:auto;
	width: 1000px;
	background-color: #ffffff;
}

/*====================content_right=======================*/
.content_right{
	padding-right:13px;
	_padding-right:0px;
	width:745px;
	_width:735px;
}
/*.doccontent .title{
	height:42px;
	border-bottom: 1px dotted #dfdfdf;

}*/
/*.doccontent .title h2{
	overflow:hidden;
	margin-top:10px;
	height:32px;
	width:200px;
	line-height:32px;
	font-size: 16px;
	color:#333333;
	text-overflow: ellipsis;
	white-space: nowrap;
}*/
.doccontent .title h2.lxwm_title{
	width:320px;
	background: url('../images/lxwm_logo.gif') right center no-repeat ;
}
.doccontent .title .menu{
	margin-top:10px;
	height:32px;
	line-height:32px;
	font-size: 14px;
	color:#666666;
}
.doccontent .title .menu a{
	color:#666666;
}
.doccontent .title .menu a:hover{
	color:#2e65ab;
}
/*.doccontent .contentsdiv .contents{
	margin:0px;
	padding:15px 15px 5px 10px;
	display:inline-block;
	background-color:#ffffff;
	*width:360px;
	border:1px solid #e3e3e3;
	font-size: 12px;
	width: 720px;
}*/
.doccontent .non{
	display: none;
}
/*.doccontent .contents .title{
	margin-bottom:5px;
	*display:inline-block;
	*width:360px;
	height:30px;
	border-bottom-style: dashed;
}*/
.doccontent h3{
	font-size:14px;
	font-weight: bold;
}
.show_hidden{
	color:#0066cc;
}
.show_hidden:hover,.item_item_item a:hover{
	color:#3fb3fc;
}
/*.doccontent .doccontent_module{
	margin-bottom: 15px;
}*/
/*.doccontent .contents .contents_content li{
	margin-right:15px;
	float:left;
	_float: none;
	min-width:50px;
	line-height: 25px;
}*/
/*.doccontent .contents .contents_content a{
	color:#0066cc;
}*/
.doccontent .contents .contents_content a span{
	font-weight: normal;
}
/*.doccontent .contents .contents_content{
	overflow: hidden;
	*display: inline-block;
	*width:360px;
}*/
.doccontent .contents .contents_content a:hover{
	color:#3fb3fc;
}
.doccontent .main_content{
	font-size: 12px;
}
/*.doccontent .main_content h3{
	margin-top:10px;
	padding-left:5px;
	height:29px;
	background-color:#e9e9e9;
	line-height: 29px;
}*/
.doccontent .main_content p{
	padding-left:5px;
	margin-top:5px;
	line-height: 25px;
	word-break: normal;
	font-size: 12px!important;
}
.doccontent .main_content p a{
	font-size: 12px;
}
.doccontent .main_content .codes{
	padding:5px;
	margin-left:20px;
	display: inline-block;
	border:1px solid #dfdfdf;
}
.doccontent .main_content .codes2{
	border:none;
}
.doccontent .main_content p a.alink{
	color:#0793f3;
}
.doccontent .main_content p a.alink:hover{
	color:#3fb3fc;
}
/*.doccontent .main_content h4{
	margin-top:10px;
	border-bottom:#CCC 1px dashed;
	line-height: 28px;
	text-indent:0.5em;
	font-size: 14px;
	color:#333;
}*/
.doccontent .main_content h5{
	margin-top:10px;
	text-indent:0.5em;
	font-size: 12px;
}



/*====================content_right end===================*/
/*====================outer_inner end========================*/
/*========================文档中心内容页结束======================*/
.itemiframediv{
	position: relative;
	bottom:20px;
}
#itemiframe{
	width:100%;
}
/*=================sdk更新==========================*/
.sdkdiv table,.errorlistdiv table{
	width:100%;
	border:#CCC 1px solid;
	border-collapse: collapse;
}
.sdkdiv table th,.sdkdiv table td,.errorlistdiv table th,.errorlistdiv table td{
	border:#CCC 1px solid;
	text-align: center;
}
.sdkdiv .sdktable thead th,.errorlistdiv .eltable thead th {
	height: 30px;
	background: #eaeaea;
	line-height: 30px;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	border: #CCC 1px solid;
	text-align: center;
}
.sdkdiv table .table_td_content,.errorlistdiv table .table_td_content{
	padding:10px;
	line-height:20px;
	text-align: left;
}
.sdkdiv .pftype,.errorlistdiv .eltype{
	margin:10px;
}
.sdkdiv .pftype label,.errorlistdiv .eltype label{
	position:relative;
	bottom:2px;
	margin-right:20px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.errorlistdiv .eltype label.eltypetip{
	width:185px;
	background: url('../images/tip.png') right center no-repeat ;
}
.sdkdiv .plateformname{
	width:18%;
}
.sdkdiv .version,.sdkdiv .size{
	width:8%;
}
.sdkdiv .sdktype,.sdkdiv .date{
	width:10%;
}
.sdkdiv .note{
	width:43%;
}
.errorlistdiv .elid{
	width:39%;
}
.errorlistdiv .elvalue{
	width:20%;
}
.errorlistdiv .elmean{
	width:39%;
}
.errorlistdiv table td{
	height:30px;
}
input[type="radio"]{
	cursor: pointer;
}

.kflcimg{
	width:745px;
	height:120px;
	background: url('../images/yysh_bg.gif') center center no-repeat ;
}
/*===================================*/
.content_right_top_mask.fixed{
	background-color: #fff;
	position: fixed;
	top:45px;
	height:10px;
	width:740px;
}
.stickem-container{
	position: relative;
}
.stickit {
	position: fixed;
	top:61px;
	z-index:2;
}
.stickit-end {
	position: absolute;
}
.clicked{
	color: purple;
	font-weight: bold;
}


/* 内容区域 */
.outer_inner{
	position: relative;
	margin: auto;
	width: 1200px;
	background: #fff;
}
/* 左边导航 */
.content_left{
	position: absolute;
	height: 100%;
    width: 209px;
    background: #fff;
    border: 1px solid #d5d5d5;
    font-family: "宋体";
}
/* 导航右边框阴影 */
.br{
    position: absolute;
    right: 0;
    z-index: 2;
    width: 3px;
    height: 100%;
    background: url(../images/bg-br.png) repeat-y;
}

.nav-title{
    position: relative;
    left: -4px;
    margin-top: 18px;
    padding-left: 24px;
    width: 213px;
    height: 51px;
    background-color: #f7f7f7;
    border: 1px solid #ecebeb;
    font-family: '微软雅黑';
    line-height: 51px;
}

.nav-title h2{
	font-size: 20px;
	color: #171717;
	border-right: 1px solid #e7e7e7;
}
.docnav li ul{
	display: none;
}
.docnav li.selected ul,
.docnav li.show ul{
    display: block;
}

.nav1,
.no-sub{
    margin: auto;
    display: block;
    width: 195px;
    height: 39px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: bold;
    color: #847f7f;
    line-height: 39px;

    *width: auto;
    *padding-left: 12px;
}

.nav1 span{
	padding-left: 25px;
	background: url(../images/icon-nav.png) 10px 4px no-repeat;
}
.no-sub span{
	padding-left: 25px;
	width: 110px;
	display: inline-block;
}
.nav1.show span{
	background: url(../images/icon-nav.png) 10px -36px no-repeat;
}
.nav2{
	font-size: 12px;
	color: #847f7f;
	padding: 8px 0 8px 52px;
	display: block;
}
.no-sub.selected{
	color: #3699ec;
	background: url(../images/icon-nav-selected.png) 140px 16px no-repeat;	
}
.no-sub:hover{
	color: #3699ec;
	background: url(../images/icon-nav-selected.png) 140px 16px no-repeat;
}
.nav2.selected{
	color: #3699ec;
	background: url(../images/icon-nav-selected.png) 152px 13px no-repeat;
}
.nav2 span{
	display: inline-block;
	width: 80px;
}
.nav2:hover{
	color: #3699ec;
	background: url(../images/icon-nav-selected.png) 152px 13px no-repeat;
}

/* 右边内容 */
.content_right{
    padding-right: 0;
    width: 965px;
    /*padding-right: 230px;*/
}
/* 位置 */
.title.doccontent_module{
	margin-top: 18px;
}
.doccontent_module h2{
	line-height: 50px;
	font-family: "宋体";
	font-size: 14px;
	color: #847f7f;
}
.doccontent_module .sub-title{
	color: #000;
}
/* 目录 */
.contentsdiv{
	font-family: "宋体";
}
.contentsdiv .contents h3{
	font-size: 14px;
	color: #000;
}
.contentsdiv .contents{
	background: #fff;
	width: 946px;
	border:1px solid #eee;
	padding: 20px 0 22px 17px;
}

.menu-hide{
	font-size: 12px;
	color: #0095e2;
	cursor: pointer;
}
.contents_content{
	margin-left: 25px;
	/*width: 1000px;*/
	overflow: hidden;
}
.contents_content li{
	/*margin: 15px 0;*/
	padding-top: 15px;
	width: 200px;
	/*width: 184px;*/

	float: left;
}
.contents_content a{
	color: #0095e2;
}
/* 文字内容区域 */
.main_content{
	font-family: "宋体";
}
.main_content h3{
	height: 33px;
	margin-top: 21px;
	line-height: 33px;
	text-indent: 8px;
	background: #f6f7f8;
	border:1px solid #f0f0f1;
	color: #383838;
	font-size: 14px;
}
.main_content h4{
	font-size: 12px;
	text-indent: 8px;
	margin-top: 15px;
	padding-bottom: 8px;
	border-bottom: 1px dotted #dbdbdb;
	color: #545454;
}
.main_content p{
	color: #545454;
	font-size: 12px;
	font-family: "宋体";
	line-height: 25px;
}

/* 上一篇、下一篇、分享、收藏 */
.article-footer{
    margin: 20px 0;
    height: 50px;
}
.article-links{
	float: left;
	margin-top: -12px;
}
.article-links .prev-page,
.article-links .next-page{
	color: #847f7f;
	font-size: 12px;
	/*line-height: 24px;*/
	font-family: "宋体";
	line-height: 24px;
	cursor: pointer;
}
.article-links .prev-page:hover,
.article-links .next-page:hover{
	color: #666;
}
.share-collect {
	float: right;
}
.share,
.collect{
    margin-left: 15px;
    padding-left: 23px;
    display: inline-block;
    float: left;
    width: 73px;
    height: 26px;
    border: 1px solid #e9ebea;
    border-radius: 2px;
    font-family: '宋体';
    font-size: 12px;
    color: #444;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}
.share:hover,
.collect:hover{
	color: #333;
	opacity:0.8;
}
.share{
    background: url(../images/icon-share.png) 11px center no-repeat;
}
.collect{
    background: url(../images/icon-collect.png) 13px center no-repeat;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background: none!important;
	color: #444;
	font-family: "宋体";
}

/*
 * 文档列表
 * shangao@iflytek.com
 * 2014/12/25
 */
.articles{
    margin-bottom: 40px;
    border-top: 1px solid #eee;
}
.article-item{
    position: relative;
    padding-left: 36px;
    height: 49px;
    background: url('../images/doc-icon-tip.png') 15px 24px no-repeat;
    border-bottom: 1px dashed #dcdcdc;
    font-size: 14px;
    line-height: 62px;
}
.article-item span,.article-item a{
    font-family: '宋体';
    color: #0095e2;
    cursor: pointer;
}
.article-item span:hover,.article-item a:hover{
    color: #446e84;
}
.hot1{
    margin-left: 8px;
    display: inline-block;
    width: 25px;
    height: 14px;
    background: url('../images/hot.gif') no-repeat;
}
.article-item span.ell{
	width:800px;
	display: inline-block;
}
.article-item .article-time{
    position: absolute;
    right: 20px;
    font-family: '宋体';
    color: #000;
    cursor: default;
}
.article-item .article-time:hover{
	color: #000;
}
/*
 * 文章列表分页
 * shangao@iflytek.com
 * 2014/12/26
 */
.pagination{
	min-height: 30px;
    text-align: center;
}
.pagination span,
.pagination a{
    margin: 0 2px;
    padding-top: 6px;
    display: inline-block;
    width: 28px;
    height: 22px;
    border: 1px solid #e9ebea;
    text-align: center;
}
.pagination a{
    color: #0095e2;
}
.pagination a:hover{
    background: #f5f5f5;
    color: #446e84;
}
.pagination .next,
.pagination .prev{
    width: 63px!important;
}
span.current{
    border: none;
}
.current.prev,
.current.next{
    border: 1px solid #e9ebea;
}
/*
 * 文章详细内容
 * 2014/12/30
 * shangao@iflytek.com
 */
.second-nav{
	cursor: pointer;
}
.second-nav:hover{
	color: #333;
}
.article-content h3{
    margin-top: 0;
    padding-top: 21px;
    background: none;
    border: none;
    border-top: 1px solid #eee;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 16px;
}
.article-content hr{
	margin-top: 18px;
	margin-bottom: 15px;
	height: 0px!important;
	border-top: 1px dashed #dbdbdb!important;
}
.date-issued{
	font-size: 12px!important;
	color: #847f7f;
}
.feedback .wypl_content{
	width: 738px;
}
.feedback .wypl_content textarea {
	width: 727px;
}
.feedback #submitmyfb{
	width: 155px;
	margin-left: 30px;
}
/*
 * 2015/1/30
 * 评论输入框的大小
*/
.feedback .qbpl_content_item_content_fb{
	width: 100%;
}
.feedback .hfdiv .qbpl_content_item_fbcon textarea{
	width: 944px;
}